h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 28pt;
}

h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 24pt;
}

h3 {
  text-align: left;
  font-family: Arial, sans-serif;
  font-weight: Bold;
  font-size: 12pt;
    color:#173262 ;
}

h4 {
  text-align: left;
  font-family: Arial, sans-serif;
  font-weight: Normal;
  font-size: 20pt;
    color:#173262 ;
}

p {
  text-align: left;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 11pt;
  text-align: justify;
}

p1 {
  color: red;
  text-align: left;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 11pt;
  text-align: justify;
}

p2 {
}

footer {
  text-align: left;
  position: absolute;
  bottom: 1.2cm;
  width: 100%;
}

.boy_image {
    height: 50%;
    width: 50%;
    object-fit: contain;
    align: right;
}

.biology_image {
 width:100%;
 align: center;
}

.risk_factor_scoring_image{
 width:80%;
}

.impact_table_headers{
 display: block;
 margin-right: auto;
 padding-bottom: 20px;
 width:170mm;
}

#contents {
  break-before: right;
  break-after: left;
  page: no-chapter;
}

#contents ul {
  list-style: none;
  padding-left: 0;
}
#contents ul li {
  border-top: .25pt solid #c1c1c1;
  margin: .25cm 0;
  padding-top: .25cm;
}
#contents ul li::before {
    color: #173262;
    font-size: 40pt;
    line-height: 16pt;
    vertical-align: bottom;
}
#contents ul li a {
  color: #173262;;
  text-decoration-line: inherit;
}
#contents ul li a::before {
  content: target-text(attr(href url));
    font-family: Arial, sans-serif;
}
#contents ul li a::after {
    font-family: Arial, sans-serif;
    color: #173262;
    content: target-counter(attr(href url), page);
    float: right;
}

.profile-page {
    page: profile_page;
}

.contents-page {
    page: contents_page;
}

.last-page {
    page: last_page;
    page-break-before: always; /* Use if your last page is blank, else omit. */
}

@page {
    size: A4;
    font-family: Arial, sans-serif;
    padding-left: 0.5cm;
    margin-top: 3.1cm;
    margin-bottom: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;
    @top-right {
        height:40pt;
        white-space: pre;
        text-align: right;
        padding-right: 25px;
        padding-top: 0cm;
        width: 80%;
        }
    @top-center {
        height:40pt;
        white-space: pre;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
        content: '';
        width: 80%;
        }
    @top-left {
        height:40pt;
        white-space: pre;
        text-align: left;
        padding-left: 50px;
        content: '';
        width: 80%;
        }

    @bottom-left {
        content: counter(page);
        opacity: 0.5;
        width: 50%;
        padding-bottom: 50px;
    }

    @bottom-right {
        content: url('intelligene_images/full_name_logo.gif');
        opacity: 0.5;
        width: 80%;
        padding-bottom: 50px;
    }
}

@page :first {
    background: url('intelligene_images/cover.png') no-repeat center;
    background-size: cover;
    margin: 0;
    counter-reset: page -2;
    /*change this value depending on the number of pages before the actual page counting starts*/

    @bottom-left {
        content: none;
    }
    @bottom-right {
        content: none;
    }
}

@page profile_page {
    background: url('intelligene_images/boy.png') no-repeat right;
    background-size: 45%;
    margin: 0;
    size: A4;
    font-family: Arial, sans-serif;
    padding-left: 0.5cm;
    margin-top: 3.1cm;
    margin-bottom: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;

    @bottom-left {
        content: none;
    }
    @bottom-right {
        content: url('intelligene_images/full_name_logo.gif');
        opacity: 0.5;
        width: 80%;
        padding-bottom: 50px;
    }
}

@page contents_page {
    margin: 0;
    size: A4;
    font-family: Arial, sans-serif;
    padding-left: 0.5cm;
    margin-top: 3.1cm;
    margin-bottom: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;

    @bottom-left {
        content: none;
    }
    @bottom-right {
        content: url('intelligene_images/full_name_logo.gif');
        opacity: 0.5;
        width: 80%;
        padding-bottom: 50px;
    }
}

@page last_page {
    background: url('intelligene_images/last_page.png') no-repeat center;
    background-size: cover;
    margin: 0;
    @bottom-left {
        content: none;
    }
    @bottom-right {
        content: none;
    }
}


/*.under-limit {
    background-color: green;
}*/

table.bluestyle {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    table-layout: auto;
    width: 170mm;
    margin-right: auto;
    background-color: #FFFFFF;
    border-size: 0px;
    font-size: 5pt;
}

table.bluestyle thead {
    height: 0px;
    display:none;
    visibility: collapse;
}

table.bluestyle tr {
    background-color: #FFFFFF;
    border-bottom: 1px solid #2A2A5A;
    text-align: left;
    padding: 2px;
}

table.greenstyle {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    width: 85mm;
    margin-right: auto;
    border-size: 0px;
    padding: 2px;
}

table.greenstyle thead{
    background-color: #71AB92;
    color: #FFFFFF;
    font-size: 9pt;
    font-weight: bold;
}

table.greenstyle thead>tr:first-child {
	background-color: #2F463C;
    color: #FFFFFF;
    font-size: 9pt;
    font-weight: bold;
}

table.profilestyle {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    table-layout: auto;
    width: 90mm;
    margin-right: auto;
    border-size: 0px;
    padding: 2px;
    bottom: 35%;
    position: absolute;
    text-align: left;
}

table.profilestyle thead {
    height: 0px;
    display:none;
    visibility: collapse;
}

.container {
  display: flex;
  width:175mm;
}
.column-1 {
  height:230mm;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.column-2 {
  height:230mm;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
