<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Intelligene</title>
        <link rel="stylesheet" href="intelligene_styling.css">
    </head>

    <body>
        <article id="cover"></article>

        <div class="profile-page" style="text-align: center">
            <p style="page-break-before: always"></p>

            <h3>INTELLIGENE <span style="color:red">PROFILE</span></h3>
            <div> {{profile_table}} </div>
        </div>

        <article id="contents">
            <div class="contents-page">
            <h3>REPORT <span style="color:red">OVERVIEW</span></h3>
            <ul>
                <li><a href="#ch1"></a></li>
                <li><a href="#ch2"></a></li>
                <li><a href="#ch3"></a></li>
                <li><a href="#ch4"></a></li>
                <li><a href="#ch5"></a></li>
            </ul>
            </div>
         </article>

        <div style="text-align: center">
            <p style="page-break-before: always"></p>

            <h3 id="ch1">1.	UNDERSTANDING <span style="color:red">GENETIC TESTING</span></h3>
            <p style="text-align:left; clear: both;">
                <p1> In very simple terms, your genes are basic instructions for the regulation and maintenance of your body.
                    They determine how the body responds to environmental factors and how you react to certain forms of
                    exercise, food, and toxins.
                </p1>
                <p> The Human Genome Project, an international research effort, estimates that a human body has between
                    20 000 and 25 000 genes. Intelligene has carefully selected certain of those genes for testing, 180 to be
                    precise. These are the genes of which the expression is most amenable to regulation through science-
                    based and/or clinically proven interventions. Based on your results, exercise regimes can be optimised and
                    lifestyle adjustment can be made to lower your risk of conditions that can negatively influence your
                    quality of life – especially as you grow older.
                </p>
                <p> Individual genes do not function in isolation and all elements in the body are interlinked and influence
                    one another. With this in mind, this report gives you the level of your genetic impact (from very high
                    to very low) on 40 physiological pathways grouped into the following nine (9) categories:
                </p>
            </p>
            <img src="intelligene_images/biology.png" class="biology_image">
        </div>

        <div style="text-align: center">
            <p style="page-break-before: always"></p>

            <h3 id="ch2">2.	GENETIC <span style="color:red">IMPACT INDICATORS</span></h3>
            <img src="intelligene_images/risk_factor_scoring.png" class="risk_factor_scoring_image">

            <p style="text-align:left; clear: both;">
                <p> All the genetic material in your body, your DNA, is referred to as the genome. The epigenome is a
                    secondary layer wrapped around the DNA which determines which genes are readable and which are not.
                    The DNA code remains fixed for life, but the epigenome is flexible.
                </p>
                <p> Chemical epigenetic tags react to signals from the outside world, and the epigenome responds by turning
                    specific genes on or off. This means that by making conscious choices about your diet, exercise regime
                    and lifestyle, you can influence a significant proportion of your genetic expression.
                </p>
            </p>
        </div>

        <div style="text-align: center">
            <p style="page-break-before: always"></p>

            <h3 id="ch3">3.	EXPLANATION OF <span style="color:red">GENETIC IMPACTS</span></h3>
            <img src="intelligene_images/physical_sport_header.png" class="impact_table_headers">
               {{impact_df}}
        </div>

        <div style="text-align: center">
            <p style="page-break-before: always"></p>

            <h3 id="ch4">4. GENETIC <span style="color:red">RESULT INDICATORS</span></h3>
            <img src="intelligene_images/genetic_risk_indicators.png" class="risk_factor_scoring_image">
        </div>


        <div style="text-align: center">
            <p style="page-break-before: always"></p>

            <h3 id="ch5">5. GENETIC <span style="color:red">RESULT</span></h3>

            <div class="container">
                <section class="column-1">
                    <div>{{altitude_training}}</div>
                    <div>{{benefit_of_increased_mufa_for_weight_management}}</div>
                    <div>{{blood_clotting}}</div>
                    <div>{{blood_flow}}</div>
                    <div>{{blood_pressure}}</div>
                    <div>{{brain_healthneurotransmitters}}</div>
                    <div>{{caffeine_sensitivity}}</div>
                </section>

                <section class="column-2">
                    <div>{{calorie_restriction}}</div>
                    <div>{{cardiovascular}}</div>
                    <div>{{cell_renewalhair_loss}}</div>
                    <div>{{circadian_rhythms}}</div>
                    <div>{{collagen}}</div>
                    <div>{{detoxification}}</div>
                    <div>{{diabetesinsulin_resistance}}</div>
                </section>
            </div>
        </div>

        <div style="text-align: center">
            <p style="page-break-before: always"></p>

            <div class="container">
                <section class="column-1">
                    <div>{{eating_behaviours}}</div>
                    <div>{{elasticityfirmness}}</div>
                    <div>{{endurance}}</div>
                    <div>{{energy_expenditure}}</div>
                    <div>{{energy_production_during_exercise}}</div>
                    <div>{{exercise_tolerance}}</div>
                </section>

                <section class="column-2">
                    <div>{{estrogen}}</div>
                    <div>{{exercise_responsiveness_for_weight_loss}}</div>
                    <div>{{fiber_requirements}}</div>
                    <div>{{fuel_mobilisation}}</div>
                    <div>{{fuel_switching}}</div>
                    <div>{{gut_health}}</div>
                </section>
            </div>

            <div style="text-align: center">
            <p style="page-break-before: always"></p>

            <div class="container">
                <section class="column-1">
                    <div>{{glycation}}</div>
                    <div>{{inflammation}}</div>
                    <div>{{injury_susceptibility}}</div>
                    <div>{{iron_deficiency}}</div>
                    <div>{{iron_overload_susceptibility}}</div>
                    <div>{{lactate_threshold}}</div>
                    <div>{{lactose_sensitivity}}</div>
                    <div>{{oxidative_stressantioxidants}}</div>
                </section>

                <section class="column-2">
                    <div>{{magnesium}}</div>
                    <div>{{methylation}}</div>
                    <div>{{nonceliac_gluten_sensitivity}}</div>
                    <div>{{obesity_risk}}</div>
                    <div>{{pigmentationuv_protection}}</div>
                    <div>{{power}}</div>
                </section>
            </div>

            <div style="text-align: center">
            <p style="page-break-before: always"></p>

            <div class="container">
                <section class="column-1">
                    <div>{{omega3}}</div>
                    <div>{{omega36_conversion_effectiveness}}</div>
                    <div>{{recovery_inflammation}}</div>
                    <div>{{recovery_oxidative_stress}}</div>
                    <div>{{salt_sensitivity}}</div>
                    <div>{{structuralcellular_integrity}}</div>
                    <div>{{vo2max_}}</div>
                </section>

                <section class="column-2">
                    <div>{{saturated_fat_sensitivity_during_weight_loss}}</div>
                    <div>{{taste_perception}}</div>
                    <div>{{thyroid}}</div>
                    <div>{{vitamin_a}}</div>
                    <div>{{vitamin_dcalcium}}</div>
                    <div>{{weight_regain}}</div>
                    <div>{{hungersatiety}}</div>
                </section>
            </div>

        </div>


        <div class="last-page">
            <footer>
                <p>Alenti Office Park, Building B, 457 Witherite Street, Pretoria<br>
                +27 (0) 845 0050</p>
            </footer>
        </div>

    </body>
</html>